body{
    width: 1500px;
    justify-content: center;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    margin: auto;
    color: rgb(52, 19, 82);
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
   text-align: center;
   align-items: center;
   margin: auto;
   padding: 30px; 

}

h1{
    text-align: center;
    align-items: center;
    font-size: 40px;
}

.contenido{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: solid 1px rgb(52, 19, 82);
    background-color: rgb(52, 19, 82);
    border-radius: 5px;
    color: whitesmoke;

}

.container{
    align-items: center;
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

footer{
    margin-top: 50px;
    
}
footer a{
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border: solid 1px orange;
    background-color: orange;
    border-radius: 5px;
    color: rgb(52, 19, 82);
    
    
}
.enlaces{
    text-align: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    
    
}

.enlaces a{
    color: whitesmoke;
    font-size: 50px;
    transition: color 0.3s ease;
}

.enlaces a:hover{
    color: rgb(216, 208, 93);
}

a{
    text-decoration: none;
   
    color: black;
}

ul{
    list-style-type: none;
}

/* ejercicio 2 */

.contenido2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tabla{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    border: solid 1px rgb(52, 19, 82);
    background-color: rgb(52, 19, 82);
    border-radius: 5px;
    color: whitesmoke;
}

/* ejercicio 3 */

.contenido3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid 1px rgb(52, 19, 82);
    background-color: rgb(52, 19, 82);
    border-radius: 5px;
    color: whitesmoke;
}

.btnreinicio{
    font-size: 20px;
    color: rgb(52, 19, 82);
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 50px;
}

.contenidoparimpar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* ejercicio extra */

.contenidoDivisor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.numero3 h1{
    
    font-size: 60px;
}

h2{
    text-align: center;
    font-size: 30px;
}