body {
  width: 1300;
  font-family: "Poppins", serif;
  height: 1500px;
  background-color: hsla(204, 0%, 100%, 1);
  background-image: radial-gradient(
      circle at 0% 0%,
      hsla(295.99999999999994, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 20% 0%,
      hsla(236.91176470588243, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 40% 0%,
      hsla(186.61764705882354, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 60% 0%,
      hsla(127.0588235294118, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 0%,
      hsla(62.20588235294117, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 100% 0%,
      hsla(23.823529411764703, 77%, 74%, 0.35) 3%,
      transparent 40%
    );
  background-blend-mode: normal, normal, normal, normal, normal, normal;
}
.titulo{
  font-size: 4rem;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 400px;
}
.img-container {
  position: relative;
}

.img-hover-container img {
  width: 100%;
  height: auto;
}

.hover-text, .hover-text2 {
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
a {
    text-decoration: none; /* Eliminar el subrayado de los enlaces */
    color:inherit;
}

ul, ol {
    list-style: none; /* Eliminar los puntos o números de las listas */
    padding: 0; /* Eliminar el padding */
    margin: 0; /* Eliminar el margin */
}
.img-container {
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
  position: relative; /* Para que el zoom funcione correctamente */
  border-radius: 10px; /* Aplica el border-radius aquí */
}

.img-container img {
  width: 300px; /* Ancho fijo de 300px */
  height: 500px; /* Alto fijo de 100px */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
  transition: transform 0.5s ease; /* Suaviza la transición del zoom */
}

.img-container:hover img {
  transform: scale(1.2); /* Zoom al pasar el ratón */
}

.col-auto {
  padding: 0; /* Elimina el padding de las columnas */
}


/* HEADER STYLES */


header {
  

  .navbar {
  font-family: "Poppins", serif;
  font-size: 1.3rem;
  background-color: #f8f9fa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  
}

.nav-link {
  color: #0077ff; 
}

.nav-link:hover {
  color: #0056b3; 
}}