body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Gris claro */
  background-image: url('../images/comic-texture.png'); /* Textura de hoja de cómic */
  background-size: 300px 300px; /* Tamaño del patrón */
  background-repeat: repeat; /* Repetir el patrón */
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #6c6c86;
}
h2{
  font-family: "Patrick Hand"!important;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.card {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
    .card.testimonials { background-color: #ff6961; } 
    .card.news {color: white; background-color: #1e90ff; } 
    .card.users {color: gray; background-color: #90ee90; } 
    .card.projects {color: gray;  background-color: #fdfd96; }